.container-appointment{
    border-style: solid;
    border-color: #575757;
    padding: 2%;
}
.container-appointment-select{
    border-style: solid;
    border-color: #575757;
    padding: 2%;
    background-color: #c9c5c5;
}
.input-radio{
    height: 45px;
    width: 45px;
}
.code-appointment{
    margin-left: 22%;
    font-size: 150%;
    margin-bottom: 3%;
}